<div class="bg-white rounded shadow-md poppins-medium p-6 w-full max-w-4xl">
  <div class="flex items-center text-center mb-2" mat-dialog-title>
    <h1 class="text-xl font-bold md:text-2xl lg:text-4xl poppins-bold">
      Registro de Docentes
    </h1>
    <p class="text-sm md:text-base opacity-50 text-gray-400 mt-2">
      Complete el formulario para registrar el docente.
    </p>
  </div>
  <div class="space-y-4">
    <form [formGroup]="registerTeacher" mat-dialog-content class="space-y-6 p-4">
      <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Tipo de Identificación</label>
          <select  class="w-full p-2 border rounded">
            <option value="" disabled selected>Seleccione un tipo de identificación</option>
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="PP">Pasaporte</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Cédula</label>
          <input type="text" formControlName="cedula" class="w-full p-2 border rounded">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
          <input type="text" formControlName="nombre" class="w-full p-2 border rounded">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Apellido</label>
          <input type="text" formControlName="apellido" class="w-full p-2 border rounded">
        </div>
        <div class="col-span-2">
          <label class="block text-sm font-medium text-gray-700 mb-1">
            <span *ngIf="selectedRama !== SubProfesion.OTROS; else otrosLabel">
              Selecciona la subprofesión
            </span>
            <ng-template #otrosLabel>
              Especifica tu subprofesión
            </ng-template>
          </label>
          <select formControlName="profesion" class="w-full p-2 border rounded">
            <option value="" disabled selected>Seleccione una profesión</option>
            <option *ngFor="let profesion of profesiones" [value]="profesion">{{ profesion }}</option>
          </select>
        </div>
        <div class="col-span-2">
          <div *ngIf="selectedRama !== SubProfesion.OTROS; else otros">
            <label class="block text-sm font-medium text-gray-700 mb-1">
              Selecciona la subprofesión
            </label>
            <select (change)="onRamaChange($event)" formControlName="rama" class="w-full p-2 border rounded">
              <option value="" disabled selected>Seleccione una rama</option>
              <option class="overflow-x-auto" *ngFor="let rama of ramaprofesiones" [value]="rama">
                {{ rama }}
              </option>
            </select>
          </div>
          <!-- Template para otros con su label -->
          <ng-template #otros>
            <label class="block text-sm font-medium text-gray-700 mb-1">
              Ingrese la subprofesión
            </label>
            <input type="text" formControlName="rama" class="w-full p-2 border rounded"
              placeholder="Ingrese la rama de la profesión">
          </ng-template>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Jornada</label>
          <select formControlName="jornada" class="w-full p-2 border rounded">
            <option value="" disabled selected>Seleccione una jornada</option>
            <option *ngFor="let jornada of jornada" [value]="jornada">{{ jornada }}</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Teléfono</label>
          <input type="tel" formControlName="telefono" class="w-full p-2 border rounded">
        </div>
        <div class="col-span-2">
          <label class="block text-sm font-medium text-gray-700 mb-1">Email</label>
          <input type="email" formControlName="email" class="w-full p-2 border rounded">
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="flex justify-end space-x-4 mt-6" mat-dialog-actions>
        <!-- Botón Cancelar -->
        <button (click)="cancelar()"
          class="inline-flex items-center gap-2 rounded-md bg-white px-4 py-2 text-sm font-medium text-red-600 hover:bg-gray-300 transition">
          Cancelar
        </button>
        <!-- Botón Guardar -->
        <button type="submit" (click)="guardar()"
          class="inline-flex items-center gap-2 rounded-md bg-purple-700 px-4 py-2 text-sm font-medium text-white hover:bg-purple-800 transition">
          <span> Registrar Docente</span>
        </button>
      </div>
    </form>
  </div>
</div>
