<main class="flex flex-1 justify-center py-10 px-4 lg:px-40">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1 gap-6">
    <!-- Profile Header Card -->
    <div
      class="bg-white dark:bg-slate-900 rounded-xl shadow-sm border border-slate-200 dark:border-slate-800 overflow-hidden">
      <div class="h-32 bg-gradient-to-r from-purple-400 to-purple-700"></div>
      <div class="px-8 pb-8 -mt-12 flex flex-col md:flex-row items-end gap-6">
        <div class="relative">
          <div
            class="bg-slate-200 dark:bg-slate-700 bg-center bg-no-repeat aspect-square bg-cover rounded-2xl size-32 border-4 border-white dark:border-slate-900 shadow-md"
            data-alt="Large professional portrait of Carlos Rodriguez"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC2gDRON2pmkRsfISNYN7A8ZVo3cwzXRP_4DNjw0y09hdWix8P0T7ZdnYaMNyxh4PVWsZsrXMDwjCW4WV-xRH4qDXLLSH2Q5Xnoif_apaBVALQid5L5f51wbm2Oezx5Lil5MSUVCDfD4RoT14qmiZUKhOMVnvnG_Sf5yzqSduQTqIo1HRtefzn_O8YNnmOR3CXogPZyqH997Eu_etFiRvilC-guWKDsfY2Pn88OKvoGQJZ99YupineW4LPowfZhlfKH6x5T9m-Wppw");'>
          </div>
          <div
            class="absolute bottom-2 right-2 size-6 bg-green-500 border-4 border-white dark:border-slate-900 rounded-full">
          </div>
        </div>
        <div class="flex-1 flex flex-col md:flex-row justify-between items-start md:items-center w-full">
          <div class="space-y-1">
            <div class="flex items-center gap-3">
              <h1 class="text-2xl font-bold text-slate-900 dark:text-white">{{usuario}}</h1>
              <span
                class="px-2.5 py-0.5 rounded-full bg-blue-300 text-primary text-xs font-bold uppercase tracking-wider">{{role}}</span>
            </div>
            <p class="text-slate-500 dark:text-slate-400 font-medium">{{nombrecompleto}}
            </p>
          </div>

        </div>
      </div>
    </div>
    <!-- Tabs Navigation -->
    <div class="flex border-b border-slate-200 dark:border-slate-800 gap-8 px-2">
      <span>Datos Personales</span>
    </div>
    <!-- Main Grid Content -->
    <div class="grid grid-cols-1 gap-6">
      <!-- Account Details Section (Left Column) -->
      <div class="lg:col-span-2 flex flex-col gap-6">
        <div class="bg-white dark:bg-slate-900 p-6 rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm">
          <h3 class="text-lg font-bold text-slate-900 dark:text-white mb-6 flex items-center gap-2">
            <mat-icon class="text-blue-200">manage_accounts</mat-icon>
            Informacion del Perfil
          </h3>
          <form [formGroup]="edit">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-8">
              <div class="space-y-1.5">
                <p class="text-xs font-semibold text-slate-400 uppercase tracking-wider">Nombre</p>
                <div
                  class="flex items-center gap-3 text-slate-700 dark:text-slate-200 bg-slate-50 dark:bg-slate-800/50 p-3 rounded-lg border border-slate-100 dark:border-slate-800">
                  <mat-icon class="mat-18">person</mat-icon>
                  <input type="text" formControlName = "nombre" class="bg-transparent outline-none w-full font-medium">
                  <!-- <span class="font-medium">{{usuarios?.perfil?.nombre}}</span> -->
                </div>
              </div>
              <div class="space-y-1.5">
                <p class="text-xs font-semibold text-slate-400 uppercase tracking-wider">Apellido</p>
                <div
                class="flex items-center gap-3 text-slate-700 dark:text-slate-200 bg-slate-50 dark:bg-slate-800/50 p-3 rounded-lg border border-slate-100 dark:border-slate-800">
                <mat-icon class="mat-18">person</mat-icon>
                <input type="text" formControlName = "apellido" class="bg-transparent outline-none w-full font-medium">
                <!-- <span class="font-medium">{{usuarios?.perfil?.apellido}}</span> -->
              </div>
            </div>
            <div class="space-y-1.5">
              <p class="text-xs font-semibold text-slate-400 uppercase tracking-wider">Email</p>
              <div
              class="flex items-center gap-3 text-slate-700 dark:text-slate-200 bg-slate-50 dark:bg-slate-800/50 p-3 rounded-lg border border-slate-100 dark:border-slate-800">
              <mat-icon class="mat-18">mail</mat-icon>
              <input type="text" formControlName = "email" class="bg-transparent outline-none w-full font-medium">
              <!-- <span class="font-medium">{{usuarios?.perfil?.email}}</span> -->
            </div>
          </div>
          <div class="space-y-1.5">
            <p class="text-xs font-semibold text-slate-400 uppercase tracking-wider">Ceduala de Identidad</p>
            <div
            class="flex items-center gap-3 text-slate-700 dark:text-slate-200 bg-slate-50 dark:bg-slate-800/50 p-3 rounded-lg border border-slate-100 dark:border-slate-800">
            <mat-icon class="mat-18">badge</mat-icon>
            <input type="text" formControlName = "cedula" class="bg-transparent outline-none w-full font-medium">
                  <!-- <span class="font-medium">{{usuarios?.perfil?.cedula}}</span> -->
                </div>
              </div>
            </div>
          </form>
          <div class="flex justify-end gap-3 mt-4 p-2 md:mt-0">
            <button *ngIf="!isedit" (click)="activarEdicion()"
              class="flex items-center justify-center rounded-lg h-10 px-4 bg-slate-100 dark:bg-slate-800 text-slate-900 dark:text-white text-sm font-bold hover:bg-slate-200 dark:hover:bg-slate-700 transition-colors"
              matTooltip="editar perfil">
              <mat-icon class="mr-2">edit</mat-icon>
              Editar
            </button>
            <button *ngIf="isedit" (click)="guardarCambios()"
              class="flex items-center justify-center rounded-lg h-10 px-4 bg-slate-100 dark:bg-slate-800 text-slate-900 dark:text-white text-sm font-bold hover:bg-slate-200 dark:hover:bg-slate-700 transition-colors"
              matTooltip="editar perfil">
              <mat-icon class="mr-2">save</mat-icon>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
