<div class=" bg-white rounded shadow-md poppins-medium p-6 w-full max-w-4xl">
  <div class="flex items-center text-center mb-2" mat-dialog-title>
    <h1 class="text-xl font-bold md:text-2xl lg:text-4xl poppins-bold">
      Registro de Estudiantes
    </h1>
    <p class="text-sm md:text-base opacity-50 text-gray-400 mt-2">
      Complete el formulario para registrar el estudiante.
    </p>
  </div>
  <div class="space-y-4">
    <form [formGroup]="registerStudent" mat-dialog-content class="space-y-6 p-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 md:gap-6">
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm md:text-base  text-black mb-1">Tipo de Identificacion</label>
            <select class=" p-1 m-1 " >
              <option value="V">seleccione el tipo de identificacion</option>
              <option value="E">Cedula de ciudadania</option>
              <option value="P">Tarjeta de Identificacion</option>
              <option value="P">Pasaporte</option>
            </select>
        </div>
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm text-black">Cédula: </label>
          <input type="text" formControlName="cedula"
            class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
        </div>
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm text-black">Nombre: </label>
          <input type="text" formControlName="name"
            class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
        </div>
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm text-black">Apellido: </label>
          <input type="text" formControlName="lastname"
            class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
        </div>
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm text-black">Telefono: </label>
          <input type="text" formControlName="telefono"
            class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
        </div>
        <div class="flex flex-col">
          <label class="block poppins-bold text-sm text-black">Email: </label>
          <input type="email" formControlName="email"
            class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
        </div>
        <div class="flex flex-col col-span-2">
          <label class="block poppins-bold text-sm text-black">Curso a Matricular</label>
          <select  class="mt-1 block w-full border-2 border-gray-200 rounded-md text-md shadow-md p-2 outline-none">
            <option value="" disabled selected>Seleccione un curso</option>
            <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.codigo }} {{ curso.nombreCurso }}</option>
          </select>
        </div>
      </div>
      <div class="flex justify-end space-x-4 font-medium p-2" mat-dialog-actions>
        <button (click)="cancelar()"
          class="inline-flex items-center gap-2 rounded-md bg-white px-4 py-2 text-sm font-medium text-red-600 hover:bg-gray-300 transition">
          Cancelar
        </button>
        <button type="submit" (click)="guardar()"
          class="inline-flex items-center gap-2 rounded-md bg-purple-700 px-4 py-2 text-sm font-medium text-white hover:bg-purple-800 transition">
          <span>
            Registrar Estudiante
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
