<div class="w-full bg-white p-6 rounded-xl shadow space-y-8">
  <div class="flex flex-col p-4 rounded">
    <h1 class="text-2xl font-semibold">
      Panel Principal
    </h1>
    <p class="text-sm opacity-90">
      Control general y monitoreo del sistema académico
    </p>

  </div>
    <!-- KPIs -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-16">

    <div class="bg-gray-50 p-5 rounded-xl border shadow-sm">
      <p class="text-sm text-gray-500">Estudiantes</p>
      <h2 class="text-2xl font-bold text-gray-800">128</h2>
      <p class="text-xs text-green-600">+5 esta semana</p>
    </div>

    <div class="bg-gray-50 p-5 rounded-xl border shadow-sm">
      <p class="text-sm text-gray-500">Profesores</p>
      <h2 class="text-2xl font-bold text-gray-800">12</h2>
    </div>

    <div class="bg-gray-50 p-5 rounded-xl border shadow-sm">
      <p class="text-sm text-gray-500">Cursos</p>
      <h2 class="text-2xl font-bold text-gray-800">8</h2>
    </div>

  </div>
   <!-- Acciones -->
  <div class="space-y-4">
    <h2 class="text-sm font-semibold text-gray-700">
      Acciones rápidas
    </h2>

    <div class="grid grid-cols-2 gap-4">
      <a routerLink="../asistencias-ingresos" class="bg-purple-700 hover:bg-purple-800 text-white
                 p-6 rounded-xl shadow transition block text-center">
        Registrar Asistencia entrante de estudiantes
      </a>
      <a routerLink="../asistencias-salidas" class="bg-red-600 hover:bg-red-700 text-white
      p-6 rounded-xl shadow transition block text-center">
      Registrar Asistencia saliente de estudiantes
      </a>
      <!-- <a routerLink="../asistencias-salidas" class="bg-red-600 hover:bg-red-700 text-white
                     p-6 rounded-xl shadow transition block text-center">
        Reporte de Asistencias
      </a> -->
    </div>
  </div>
</div>
