<div class="w-full bg-white p-6 rounded-lg shadow space-y-8">
  <div class="flex flex-col items-center bg-purple-600 text-white p-4 rounded">
    <div class="text-2xl poppins-semibold">Home Panel</div>
    <p class="poppins-medium text-gray-400">
      Este Modulo lleba el control general de toda la aplicacion
    </p>
  </div>
  <!-- contenido -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <button class="bg-blue-500 hover:bg-blue-400 text-white p-6 rounded-xl shadow font-semibold">lo puede cambiar
      todo</button>
    <button class="bg-red-500 hover:bg-red-400 text-white p-6 rounded-xl shadow font-semibold">Registrar Falta</button>
    <button class="bg-gray-500 hover:bg-gray-400 text-white p-6 rounded-xl shadow font-semibold">Ver Reporte</button>
  </div>
  <!-- mas contenido -->
  <p>contenido de la pagina</p>
</div>
