<div class="min-h-screen w-full flex items-center justify-center fondo-gradiente ">

  <div class="flex flex-col md:flex-row items-center gap-10 md:gap-20 px-4 md:px-0">

    <!--404-->
    <div class="flex flex-col items-center justify-center">

      <h1 class="titulo-404 text-[8rem] sm:text-[10rem] md:text-[14rem] lg:text-[18rem] leading-none poppins-bold drop-shadow-xl">
        404
      </h1>

      <img src="404.svg" alt="404" class="w-28  md:w-96 opacity-70 ">
    </div>

    <div class="flex flex-col max-w-sm text-center md:text-left space-y-4">

      <h2 class="text-2xl sm:text-3xl md:text-4xl poppins-bold ">
        Página no encontrada
      </h2>

      <p class="text-gray-500 poppins-regular">
        La página que buscas no existe o no está disponible.
      </p>

      <button class="inline-block hover:bg-zinc-700 poppins-regular transition rounded-lg px-4 py-2 bg-zinc-900 text-white" [routerLink]="['/']">
        Volver al inicio
      </button>

    </div>

  </div>

</div>
