<nav class="navbar flex justify-between h-full poppins-medium px-5">
  <div class="logo flex items-center">
    <a routerLink="sistema/dashboard" class="text-2xl font-bold">
      <h1 class="text-4xl poppins-extrabold mb-1">
        SA<span class="text-purple-800 ">IS</span>
      </h1>
    </a>
  </div>
  <div class="flex justify-center h-full">
    <ul class="flex py-0 my-1 text-lg gap-20">
      <li class="relative group flex flex-col items-center cursor-pointer">
        <a routerLink="home" routerLinkActive=" border-b-4 border-black w-12 items-center p-2"
          class="relative inline-flex transition-transform duration-300 ">
          <img src="home.svg" alt="home" class="h-7" />
        </a>

        <span
          class="absolute top-10 scale-0 group-hover:scale-100 baseColor text-white text-xs rounded px-2 py-1 transition-transform duration-100 whitespace-nowrap">
          Inicio
        </span>
      </li>

      <li class="relative group flex flex-col items-center cursor-pointer">
        <a routerLink="students"  routerLinkActive=" border-b-4 border-black w-12 items-center p-2"
          class="relative inline-flex transition-transform duration-300">
          <img src="estudiantes.svg" alt="estudiantes" class="h-7" />
        </a>
        <span
          class="absolute top-10 scale-0 group-hover:scale-100 baseColor text-white text-xs rounded px-2 py-1 transition-transform duration-100 whitespace-nowrap">
          Estudiantes
        </span>
      </li>
      <li class="relative group flex flex-col items-center cursor-pointer">
        <a routerLink="courses"  routerLinkActive=" border-b-4 border-black w-12 items-center p-2"
          class="relative inline-flex transition-transform duration-300">
          <img src="cursos.svg" alt="cursos" class="h-7" />
        </a>
        <span
          class="absolute top-10 scale-0 group-hover:scale-100 baseColor text-white text-xs rounded px-2 py-1 transition-transform duration-100 whitespace-nowrap">
          Cursos
        </span>
      </li>
      <li class="relative group flex flex-col items-center cursor-pointer">
        <a routerLink="users"  routerLinkActive=" border-b-4 border-black w-12 items-center p-2"
          class="relative inline-flex transition-transform duration-300">
          <img src="usuarios.svg" alt="usuarios" class="h-7" />
        </a>
        <span
          class="absolute top-10 scale-0 group-hover:scale-100 baseColor text-white text-xs rounded px-2 py-1 transition-transform duration-100 whitespace-nowrap">
          Usuarios
        </span>
      </li>
      <li class="relative group flex flex-col items-center cursor-pointer">
        <a routerLink="users" routerLinkActive=" border-b-4 border-black w-12 items-center p-2"
          class="relative inline-flex transition-transform duration-300">
          <img src="permisos.svg" alt="permisos" class="h-7" />
        </a>
        <span
          class="absolute top-10 scale-0 group-hover:scale-100 baseColor text-white text-xs rounded px-2 py-1 transition-transform duration-100 whitespace-nowrap">
          permisos
        </span>
      </li>
    </ul>
  </div>
  <div class="relative flex items-center poppins-medium ">
    <button (click)="toggleDropdown('headerUser')" class="flex items-center space-x-2 focus:outline-none">
      <div class="text-center">
        <div class="text-sm  text-gray-800">Nombre Usuario</div>
        <div class="text-xs text-gray-600">Administrador</div>
      </div>
      <mat-icon [class.rotate-180]="dropdowns['headerUser']"
        class="transition-transform duration-300 hover:bg-white rounded-full">
        expand_more
      </mat-icon>
    </button>
    <!-- Dropdown menu -->
    <div class="absolute right-0 top-full mt-3 w-48 bg-white rounded-lg shadow-lg py-2 z-50"
      [class.hidden]="!dropdowns['headerUser']">
      <a routerLink="Auth/ver-perfil" class="flex items-center px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">
        <mat-icon class="mr-3 text-gray-600">account_circle</mat-icon>
        Mi Perfil
      </a>
      <!-- <a
        class="flex items-center px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer"
      >
        <mat-icon class="mr-3 text-gray-600">settings</mat-icon>
        Configuración
      </a> -->
      <div class="border-t my-1"></div>
      <a (click)="logout()" class="flex items-center px-4 py-2 text-sm text-red-600 hover:bg-gray-100 cursor-pointer">
        <mat-icon class="mr-3">logout</mat-icon>
        Cerrar Sesión
      </a>
    </div>
  </div>
</nav>
